@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

._i-bg {
  position: relative;
}

._i-bg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

[class*=_container] {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1250.8px) {
  [class*=_container] {
    max-width: 1000px;
  }
}
@media (max-width: 1025.8px) {
  [class*=_container] {
    max-width: 900px;
  }
}
@media (max-width: 935.8px) {
  [class*=_container] {
    max-width: 800px;
  }
}
@media (max-width: 855.8px) {
  [class*=_container] {
    max-width: 700px;
  }
}
@media (max-width: 730.8px) {
  [class*=_container] {
    max-width: 600px;
  }
}
@media (max-width: 630.8px) {
  [class*=_container] {
    max-width: 500px;
  }
}
@media (max-width: 530.8px) {
  [class*=_container] {
    max-width: 400px;
  }
}
@media (max-width: 430.8px) {
  [class*=_container] {
    max-width: 350px;
  }
}
@media (max-width: 380.8px) {
  [class*=_container] {
    max-width: 300px;
  }
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/header/background/fullscreen_BG.png) center/cover no-repeat, #191919;
}
.header__nav {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 33px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.header .nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .nav__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: start;
  vertical-align: middle;
  min-height: 26px;
}
.header .nav__logo a {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  width: 100%;
  height: 100%;
}
.header .nav__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .nav .menu__item {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  min-height: 22px;
}
.header .nav .menu__item a {
  color: #D9D9D9;
}
.header .nav .menu__item a:hover {
  color: #34c759;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.header .nav .menu__item:not(:last-child) {
  margin: 0 15px 0 0;
}
@media (max-width: 730.8px) {
  .header .nav__wrap {
    row-gap: 20px;
  }
  .header .nav__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 630.8px) {
  .header .nav__logo a {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 71.5%;
            flex: 0 1 71.5%;
  }
}
@media (max-width: 630.8px) {
  .header .nav__logo a {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 87.5%;
            flex: 0 1 87.5%;
  }
}
.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 0 0;
  color: #D9D9D9;
}
.header__title {
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  text-align: center;
  margin: 0 0 16px 0;
}
.header__title span {
  font-weight: 900;
}
.header__subtitle {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  max-width: 65%;
  margin: 0 0 40px 0;
}
.header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 43px;
  background-color: #34c759;
  margin: 0 0 70px 0;
}
.header__button:hover {
  background-color: #D9D9D9;
  -webkit-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease;
}
.header__button a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 57px;
  color: #191919;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  letter-spacing: 0.2em;
  text-align: center;
}
.header__button a:hover {
  color: #34c759;
  -webkit-transition: color 0.2s ease 0.1s;
  -o-transition: color 0.2s ease 0.1s;
  transition: color 0.2s ease 0.1s;
}
.header__info {
  margin: 0 0 50px 0;
}
.header .info__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
.header .info .item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .info .item-info__wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .info .item-info__img {
  width: 18px;
  margin: 0 0 18px 0;
}
.header .info .item-info__title {
  font-size: 16px;
  line-height: 2;
  text-align: center;
  line-height: 30px;
  color: #D9D9D9;
}
.header .info .item-info__subtitle {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 630.8px) {
  .header .info__wrap {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (max-width: 530.8px) {
  .header .info__wrap {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
@media (max-width: 430.8px) {
  .header .info__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
  }
}
@media (max-width: 1119.8px) {
  .header__title {
    font-size: 65px;
  }
}
@media (max-width: 1025.8px) {
  .header__title {
    font-size: 60px;
  }
  .header__subtitle {
    max-width: 75%;
  }
}
@media (max-width: 935.8px) {
  .header__title {
    font-size: 55px;
  }
}
@media (max-width: 855.8px) {
  .header__title {
    font-size: 50px;
  }
}
@media (max-width: 780.8px) {
  .header__title {
    font-size: 45px;
  }
  .header__button a {
    padding: 20px 40px;
  }
}
@media (max-width: 700.8px) {
  .header__title {
    font-size: 40px;
    line-height: 65px;
  }
}
@media (max-width: 530.8px) {
  .header__title {
    font-size: 32px;
    line-height: 52px;
  }
  .header__subtitle {
    max-width: 100%;
  }
}
@media (max-width: 430.8px) {
  .header__title {
    font-size: 28px;
    line-height: 40px;
  }
  .header__subtitle {
    max-width: 90%;
    font-size: 14px;
  }
}

.main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .how-it-works__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191919;
}
.main .how-it-works__title {
  padding: 30px 130px 30px;
  margin: 30px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #D9D9D9;
  background: url(../img/main/how-it-work/background/work.png) center/cover no-repeat;
}
.main .how-it-works__title::after {
  content: " ";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 4px;
  width: 100px;
  background-color: #34c759;
  position: absolute;
  left: 50%;
  bottom: -5px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
@media (max-width: 855.8px) {
  .main .how-it-works__title {
    font-size: 29px;
  }
}
@media (max-width: 730.8px) {
  .main .how-it-works__title {
    font-size: 25px;
    padding: 30px 110px 30px;
  }
}
@media (max-width: 630.8px) {
  .main .how-it-works__title {
    font-size: 24px;
    padding: 30px 50px 30px;
  }
}
@media (max-width: 530.8px) {
  .main .how-it-works__title {
    font-size: 22px;
    padding: 30px 35px 30px;
  }
}
@media (max-width: 430.8px) {
  .main .how-it-works__title {
    padding: 30px 10px 30px;
  }
}
@media (max-width: 380.8px) {
  .main .how-it-works__title {
    font-size: 20px;
    padding: 30px 0px;
  }
}
.main .how-it-works__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 50px 0;
}
.main .how-it-works .service__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -5px -5px;
}
.main .how-it-works .service__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  padding: 0 5px;
}
.main .how-it-works .service__body {
  padding: 15px;
  background-color: #252525;
  border-radius: 15px;
  height: 100%;
}
.main .how-it-works .service__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 0 40px 0;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.275px;
  text-align: left;
  text-transform: capitalize;
  color: #D9D9D9;
}
.main .how-it-works .service__title::after {
  content: " ";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 4px;
  width: 30%;
  background-color: #34c759;
  position: absolute;
  left: 0;
  bottom: -15px;
}
.main .how-it-works .service__subtitle {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.16px;
  text-align: left;
  min-height: 50%;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 1250.8px) {
  .main .how-it-works .service__title {
    font-size: 20px;
  }
}
@media (max-width: 1025.8px) {
  .main .how-it-works .service__title {
    font-size: 18px;
  }
}
@media (max-width: 935.8px) {
  .main .how-it-works .service__title {
    font-size: 20px;
  }
  .main .how-it-works .service__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
    padding: 0 5px;
  }
}
@media (max-width: 855.8px) {
  .main .how-it-works .service__title {
    font-size: 22px;
  }
  .main .how-it-works .service__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
    padding: 5px 5px;
  }
}
@media (max-width: 630.8px) {
  .main .how-it-works .service__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 44%;
            flex: 0 1 44%;
  }
}
@media (max-width: 530.8px) {
  .main .how-it-works .service__wrap {
    margin: -20px -5px;
  }
  .main .how-it-works .service__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 55%;
            flex: 0 1 55%;
    padding: 20px 5px;
  }
}
@media (max-width: 430.8px) {
  .main .how-it-works .service__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}
.main .dish-of-the-day__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191919;
}
.main .dish-of-the-day__title {
  padding: 30px 130px 30px;
  margin: 30px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #D9D9D9;
  padding: 30px 70px;
  background: url(../img/main/dish-of-the-day/background/dishes.png) center/contain no-repeat;
}
.main .dish-of-the-day__title::after {
  content: " ";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 4px;
  width: 100px;
  background-color: #34c759;
  position: absolute;
  left: 50%;
  bottom: -5px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
@media (max-width: 855.8px) {
  .main .dish-of-the-day__title {
    font-size: 29px;
  }
}
@media (max-width: 730.8px) {
  .main .dish-of-the-day__title {
    font-size: 25px;
    padding: 30px 110px 30px;
  }
}
@media (max-width: 630.8px) {
  .main .dish-of-the-day__title {
    font-size: 24px;
    padding: 30px 50px 30px;
  }
}
@media (max-width: 530.8px) {
  .main .dish-of-the-day__title {
    font-size: 22px;
    padding: 30px 35px 30px;
  }
}
@media (max-width: 430.8px) {
  .main .dish-of-the-day__title {
    padding: 30px 10px 30px;
  }
}
@media (max-width: 380.8px) {
  .main .dish-of-the-day__title {
    font-size: 20px;
    padding: 30px 0px;
  }
}
.main .dish-of-the-day__menu {
  margin: 0 0 50px 0;
}
.main .dish-of-the-day .dish-menu__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px -10px;
}
.main .dish-of-the-day .dish-menu__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333333333%;
          flex: 1 1 33.3333333333%;
  padding: 10px;
}
.main .dish-of-the-day .dish-menu .item-dish__wrap {
  background-color: #252525;
  border-radius: 15px;
}
.main .dish-of-the-day .dish-menu .item-dish__picture {
  padding: 0 0 74.2857142857% 0;
  border-radius: 15px 15px 0 0;
  position: relative;
  margin: 0 0 20px 0;
  overflow: hidden;
}
.main .dish-of-the-day .dish-menu .item-dish__img img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.main .dish-of-the-day .dish-menu .item-dish__link-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 7%;
  right: 7%;
  border-radius: 50%;
  background: url(../img/main/dish-of-the-day/background/arrow.svg) center/75% no-repeat, rgba(25, 25, 25, 0.3333333333);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.main .dish-of-the-day .dish-menu .item-dish__link-img:hover {
  background: url(../img/main/dish-of-the-day/background/arrow.svg) center/75% no-repeat, #34c759;
}
.main .dish-of-the-day .dish-menu .item-dish__body > ul {
  padding: 0 15px 15px;
}
.main .dish-of-the-day .dish-menu .item-dish__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 94%;
}
.main .dish-of-the-day .dish-menu .item-dish__title a {
  color: #D9D9D9;
  text-decoration: none;
}
.main .dish-of-the-day .dish-menu .item-dish__subtitle {
  font-weight: bold;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.15px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 20px 0;
}
.main .dish-of-the-day .dish-menu .item-dish__text {
  font-weight: bold;
  font-size: 13px;
  line-height: 138%;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0 38px 0;
}
.main .dish-of-the-day .dish-menu .item-dish__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main .dish-of-the-day .dish-menu .item-dish__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .dish-of-the-day .dish-menu .item-dish__stars ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px 0 0;
}
.main .dish-of-the-day .dish-menu .item-dish__star {
  background: url(../img/main/dish-of-the-day/item/rating/stargrey.webp) center/contain no-repeat;
}
.main .dish-of-the-day .dish-menu .item-dish__star:hover {
  background: url(../img/main/dish-of-the-day/item/rating/starfull.webp) center/contain no-repeat;
}
.main .dish-of-the-day .dish-menu .item-dish__result {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1.5px;
  color: #D9D9D9;
}
.main .dish-of-the-day .dish-menu .item-dish__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #252525;
  border: 2px solid #303030;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  padding: 15px 32px;
  font-weight: 900;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #252525;
}
.main .dish-of-the-day .dish-menu .item-dish__link a {
  color: #D9D9D9;
}
.main .dish-of-the-day .dish-menu .item-dish__link:hover {
  background-color: #34c759;
  border: 2px solid #34c759;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}
.main .dish-of-the-day .dish-menu .item-dish__link:hover a {
  color: #191919;
}
@media (max-width: 730.8px) {
  .main .dish-of-the-day .dish-menu .item-dish__footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main .dish-of-the-day .dish-menu .item-dish__stars ul {
    margin: 0 10px 0 0;
  }
  .main .dish-of-the-day .dish-menu .item-dish__link {
    padding: 15px 25px;
  }
}
@media (max-width: 430.8px) {
  .main .dish-of-the-day .dish-menu .item-dish__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 15px;
  }
  .main .dish-of-the-day .dish-menu .item-dish__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10px;
  }
  .main .dish-of-the-day .dish-menu .item-dish__stars ul {
    margin: 0 0 0 0;
  }
}
@media (max-width: 1025.8px) {
  .main .dish-of-the-day .dish-menu__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
@media (max-width: 630.8px) {
  .main .dish-of-the-day .dish-menu__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -20px -10px;
  }
  .main .dish-of-the-day .dish-menu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
    padding: 20px 10px;
  }
}
.main .recipes-from-our-chefs__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191919;
}
.main .recipes-from-our-chefs__title {
  padding: 30px 130px 30px;
  margin: 30px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #D9D9D9;
  background: url(../img/main/recipes-from-our-chefs/background/recipes.png) center/contain no-repeat;
}
.main .recipes-from-our-chefs__title::after {
  content: " ";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 4px;
  width: 100px;
  background-color: #34c759;
  position: absolute;
  left: 50%;
  bottom: -5px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
@media (max-width: 855.8px) {
  .main .recipes-from-our-chefs__title {
    font-size: 29px;
  }
}
@media (max-width: 730.8px) {
  .main .recipes-from-our-chefs__title {
    font-size: 25px;
    padding: 30px 110px 30px;
  }
}
@media (max-width: 630.8px) {
  .main .recipes-from-our-chefs__title {
    font-size: 24px;
    padding: 30px 50px 30px;
  }
}
@media (max-width: 530.8px) {
  .main .recipes-from-our-chefs__title {
    font-size: 22px;
    padding: 30px 35px 30px;
  }
}
@media (max-width: 430.8px) {
  .main .recipes-from-our-chefs__title {
    padding: 30px 10px 30px;
  }
}
@media (max-width: 380.8px) {
  .main .recipes-from-our-chefs__title {
    font-size: 20px;
    padding: 30px 0px;
  }
}
.main .recipes-from-our-chefs__menu {
  margin: 0 0 50px 0;
}
.main .recipes-from-our-chefs .recipes-menu__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  margin: 0 -15px;
}
.main .recipes-from-our-chefs .recipes-menu__content-recipes {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  padding: 0 15px;
  overflow: hidden;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 40px;
  background-color: #252525;
  border-radius: 15px;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes__link-bold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 6.5%;
  right: 7.5%;
  border-radius: 50%;
  background: url(../img/main/recipes-from-our-chefs/background/Icon.svg) center/45% no-repeat, rgba(25, 25, 25, 0.3333333333);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes__link-bold:hover {
  background: url(../img/main/recipes-from-our-chefs/background/Icon.svg) center/45% no-repeat, #34c759;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  background-color: rgba(25, 25, 25, 0.3333333333);
  padding: 5px 16.5px;
  margin: 0 0 65px 0;
  border-radius: 6px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes__link a {
  color: #D9D9D9;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes__link:hover {
  background-color: #34c759;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes__link:hover a {
  color: #252525;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes__data {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #D9D9D9;
  margin: 0 0 25px 0;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 167%;
  text-align: center;
  color: #D9D9D9;
  margin: 0 0 45px 0;
  max-width: 65%;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes__subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #D9D9D9;
  margin: 0 0 60px 0;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes .social__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes .social__views ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #D9D9D9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes .social__views:not(:last-child) {
  margin: 0 20px 0 0;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes .social__comments ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #D9D9D9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes .social__img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 20px;
  width: 20px;
  padding: 10px;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes .social__img:not(:last-child) {
  margin: 0 5px 0 0;
}
.main .recipes-from-our-chefs .recipes-menu .item-recipes .social__result {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #D9D9D9;
}
@media (max-width: 855.8px) {
  .main .recipes-from-our-chefs .recipes-menu .item-recipes__title {
    max-width: 100%;
    font-size: 20px;
  }
}
@media (max-width: 730.8px) {
  .main .recipes-from-our-chefs .recipes-menu .item-recipes__wrap {
    padding: 40px 30px;
  }
  .main .recipes-from-our-chefs .recipes-menu .item-recipes__title {
    font-size: 18px;
  }
}
@media (max-width: 630.8px) {
  .main .recipes-from-our-chefs .recipes-menu .item-recipes__link-bold {
    top: 8%;
  }
  .main .recipes-from-our-chefs .recipes-menu .item-recipes__title {
    font-size: 22px;
  }
}
@media (max-width: 530.8px) {
  .main .recipes-from-our-chefs .recipes-menu .item-recipes__wrap {
    padding: 40px 20px;
  }
  .main .recipes-from-our-chefs .recipes-menu .item-recipes__title {
    font-size: 20px;
  }
}
@media (max-width: 430.8px) {
  .main .recipes-from-our-chefs .recipes-menu .item-recipes__title {
    font-size: 17px;
  }
}
@media (max-width: 380.8px) {
  .main .recipes-from-our-chefs .recipes-menu .item-recipes__link {
    font-size: 8px;
    padding: 5px 10px;
  }
  .main .recipes-from-our-chefs .recipes-menu .item-recipes__title {
    font-size: 14px;
  }
}
.main .recipes-from-our-chefs .recipes-menu__left-block {
  min-height: 100%;
  min-width: 100%;
}
.main .recipes-from-our-chefs .recipes-menu__left-block .item-recipes {
  height: 100%;
}
.main .recipes-from-our-chefs .recipes-menu__left-block .item-recipes .item-recipes__title {
  height: 100%;
}
.main .recipes-from-our-chefs .recipes-menu__left-block .item-recipes .item-recipes__wrap {
  background: url(../img/main/recipes-from-our-chefs/content-recipes/background/main-item_img.png) center/cover no-repeat;
  height: 100%;
}
.main .recipes-from-our-chefs .recipes-menu__right-block {
  min-height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes__wrap {
  width: 100%;
}
.main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes__link {
  position: absolute;
  left: 5%;
  bottom: 5%;
  margin: 0;
}
.main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes__data {
  position: absolute;
  left: 35%;
  bottom: 12%;
  margin: 0;
}
.main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes__title {
  font-size: 18px;
  margin: 0 0 20px 0;
  max-width: 100%;
}
.main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes__subtitle {
  display: none;
}
.main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes__social {
  position: absolute;
  right: 5%;
  bottom: 5%;
}
@media (max-width: 855.8px) {
  .main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes .social__views:not(:last-child) {
    margin: 0 10px 0 0;
  }
  .main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes .social__img {
    width: 18px;
    height: 18px;
    padding: 5px;
  }
}
@media (max-width: 855.8px) {
  .main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes__data {
    bottom: 9%;
  }
  .main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes__social {
    bottom: 7%;
  }
}
@media (max-width: 730.8px) {
  .main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes__data {
    bottom: 83%;
  }
}
@media (max-width: 630.8px) {
  .main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes__data {
    left: 50%;
    bottom: 10%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes__title {
    font-size: 22px;
  }
}
@media (max-width: 530.8px) {
  .main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes__data {
    bottom: 82%;
  }
  .main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes__title {
    font-size: 20px;
  }
}
@media (max-width: 430.8px) {
  .main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes__title {
    font-size: 17px;
  }
}
.main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes:nth-child(1) .item-recipes__wrap {
  background: url(../img/main/recipes-from-our-chefs/content-recipes/item-recipes/background/item-recipes-1.png) center/cover no-repeat;
}
.main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes:nth-child(2) .item-recipes__wrap {
  background: url(../img/main/recipes-from-our-chefs/content-recipes/item-recipes/background/item-recipes-2.png) center/cover no-repeat;
}
.main .recipes-from-our-chefs .recipes-menu__right-block .item-recipes:nth-child(3) .item-recipes__wrap {
  background: url(../img/main/recipes-from-our-chefs/content-recipes/item-recipes/background/item-recipes-3.png) center/cover no-repeat;
}
@media (max-width: 630.8px) {
  .main .recipes-from-our-chefs .recipes-menu__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .main .recipes-from-our-chefs .recipes-menu__content-recipes {
    width: 75%;
  }
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #191919;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}
.footer__title {
  padding: 30px 130px 30px;
  margin: 30px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #D9D9D9;
  padding: 30px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 100%;
  margin: 10px 0;
}
.footer__title::after {
  content: " ";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 4px;
  width: 100px;
  background-color: #34c759;
  position: absolute;
  left: 50%;
  bottom: -5px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
@media (max-width: 855.8px) {
  .footer__title {
    font-size: 29px;
  }
}
@media (max-width: 730.8px) {
  .footer__title {
    font-size: 25px;
    padding: 30px 110px 30px;
  }
}
@media (max-width: 630.8px) {
  .footer__title {
    font-size: 24px;
    padding: 30px 50px 30px;
  }
}
@media (max-width: 530.8px) {
  .footer__title {
    font-size: 22px;
    padding: 30px 35px 30px;
  }
}
@media (max-width: 430.8px) {
  .footer__title {
    padding: 30px 10px 30px;
  }
}
@media (max-width: 380.8px) {
  .footer__title {
    font-size: 20px;
    padding: 30px 0px;
  }
}
.footer__title::after {
  display: none;
}
@media (max-width: 855.9px) {
  .footer__title {
    font-size: 16px;
    padding: 30px 0 30px;
  }
}